<section id="contact" class="contact section">

    <div class="container">

        <div class="section-header">

            <div class="section-tag">
                Contact
            </div>

            <h2 class="section-title">
                Let's Build Something
            </h2>

            <p>
                I'm open to software engineering opportunities,
                collaborations, and discussions about backend systems.
            </p>

        </div>


        <div class="contact-card card">


            <div class="contact-item">

                <span>
                    Email
                </span>

                <a href="mailto:yewosidira5@gmail.com">
                    yewosidira5@gmail.com
                </a>

            </div>


            <div class="contact-item">

                <span>
                    GitHub
                </span>

                <a href="https://github.com/SIDIRAYEWO"
                   target="_blank">

                    github.com/SIDIRAYEWO

                </a>

            </div>


            <div class="contact-item">

                <span>
                    LinkedIn
                </span>

                <a href="https://www.linkedin.com/in/yewo-sidira/">
                    yewo sidira
                </a>

            </div>


            <div class="contact-actions">

                <a href="https://www.linkedin.com/in/yewo-sidira/" class="primary-btn">
                    Send Message
                </a>


                <a href="https://github.com/SIDIRAYEWO"
                   target="_blank"
                   class="secondary-btn">

                    View GitHub

                </a>

            </div>


        </div>


    </div>

</section>