{% extends "base.html" %}


{% block title %}
Yewo Sidira | Backend Software Engineer
{% endblock %}



{% block content %}


{% include "partials/navbar.html" %}



<main id="main-content">


    {% include "partials/hero.html" %}



    <section id="projects"
             class="projects-section">


        {% include "partials/building.html" %}


        {% include "partials/case_study.html" %}


        {% include "partials/engineering_work.html" %}


    </section>



    {% include "partials/about.html" %}



    {% include "partials/skills.html" %}



    {% include "partials/contact.html" %}



</main>



{% include "partials/footer.html" %}



{% endblock %}