{% extends "base.html" %}

{% block title %}
Yewo Sidira | Software Engineer
{% endblock %}

{% block content %}

{% include "partials/navbar.html" %}



{% include "partials/hero.html" %}

<section id="projects"> 
{% include "partials/building.html" %}

{% include "partials/case_study.html" %}
{% include "partials/engineering_work.html" %}
</section> 


{% include "partials/about.html" %}

{% include "partials/skills.html" %}

{% include "partials/contact.html" %}

{% include "partials/footer.html" %}




{% endblock %}

